{% extends "layout.html" %}

{% block title %} Login {% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='/login.css') }}">
{% endblock %}


{% block body %}

<form class="form-signin" action="" method="POST">
    <a href=""><img class="mb-4" src="" alt=""
            width="150" height="150"></a>
    

    <h1 class="h3 mb-3 fw-normal">Ingresar Sesion</h1>
    <div class="form-floating">
        <input type="text" class="form-control" id="username" name="username" placeholder="Username" required>
        <label for="username">Ingrese su Usuario</label>
    </div>
    <div class="form-floating mt-2">
        <input type="password" class="form-control" name="password" placeholder="Password" required>
        <label for="password">Ingrese su Clave</label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Ingresar</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2022</p>
    {% with messages = get_flashed_messages() %}

    {% if messages %}
    <br />
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}

    {% endwith %}
</form>



{% endblock %}